<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %><br />
  <%= f.password_field :password_confirmation %>
</div>

<div class="field">      
  <%= f.label :chief_id, "Subordinate to (select)" %><br />
  <%=  f.select :chief_id, options_for_select(@managers_list, @current_chief) %>
</div>             
<div class="field">   
  <p>MANAGER?</p>
  <ul>
    <li>
      <%= f.radio_button :manager, "true" %>
      <%= f.label :manager_true, "Yes" %>
    </li>
    <li>
      <%=  f.radio_button :manager, "false" %>
      <%= f.label :manager_false, "No" %>
    </li>
  </ul>
</div> 