<%#
# Viewer users#index called by controller users#index
%>
<table class="profile">
  <tr>    
    <td class="main"> 
      <h1><%=  @title %> </h1>
      <%= render :partial => 'users/search' %>      
      <table class="users">
        <%= render @users %>
        <% if current_user.admin? %>
          <tr>
            <td></td>
            <td>
              <strong><%= link_to 'Create new USER', signup_path %></strong>
            </td>
            <td></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate %>
    </td>
    <td class="sidebar round">
      <%= render :partial => "shared/current_user_info" %>
    </td>
  </tr>
</table>