<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1> <%= @title %></h1>


      <% unless @user.projects.empty? %>
        <table class="projects" summary="User projects">
          <tr>
            <th>Start date</th>
            <th>Project Title</th>
          </tr>
          <%= render @projects %>
        </table>
        <%= will_paginate @projects %>
      <% end %>

    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %> [<%= @user.email %>] <br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><%= " (Admin)" if @user.admin %> <br /><br />
      <strong>Reports to </strong><%= link_to @user.chief.name, user_path(@user.chief) %><br /><br />
      <strong>Projects</strong> <%= link_to (@user.projects.count + @user.assignments.count).to_s, projects_user_path %>
      <%=  "(" + @user.projects.count.to_s + " internal and " + @user.assignments.count.to_s + " external)" %><br /><br />
      
      <%  if @user.manager %>
        <% group = @user.subordinates.map{|f|f.name} %>
        <% if group.size > 0 %> 
          <strong>Supervises group of </strong><%= link_to group.size, group_user_path(@user) %><br /><br />
          <strong>Group members: </strong>
          <ul>      
            <% @user.subordinates.each do |f|%>
              <li><%= link_to f.name, f %> </li>
            <% end %>
          </ul>
        <% end %> 
      <% end %>

    </td>
  </tr>
</table>
