<table class="profile" summary="users/show">
  <tr>

    <td class="main">

      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= " (visited by " + current_user.name + ")" unless current_user?(@user)  %>
      </h1>
      
      <% if @user == current_user %>
        <button type="button"><%= link_to 'Create new project', 
            new_project_path %>
        </button>
      <% end %>
      
      <% unless @projects.empty? %>
        <table class="projects" summary="User projects">
          <tr>
            <th>Start date</th>
            <th>Project Title</th> 
             <th>Created by</th> 
          </tr> 

          <%= render @projects %>

        </table>
        <%= will_paginate @projects %>
      <% end %>
    </td>

    <td class="sidebar round">

      <h1>Manager</h1>
      <strong><%=  link_to @user.chief.name,  @user.chief %></strong>
      <h1>Current Projects </h1>
      <%=  "Created "  + @user.projects.count.to_s + 
        "  Affiliated with " + @user.assignments.count.to_s %><br /><br />

      <% if @user.chief == current_user %>
        <%  unless @available.size == 0 %>
          <%= form_for @user.relationships.
            build(:user_id => @user.id) do |f| %>
            <%= f.hidden_field :user_id %>
            <%=  f.select :project_id, options_for_select(@available) %>
            <%= f.submit "Add" %>
          <% end %>
        <% else %>
          <p>No (or no more!) projects to add... :-)</p>
        <% end %>
      <% end %>


      <%  if @user.manager? %>
        <strong>Supervises group of </strong>
        <%= link_to @user.subordinates.size, group_user_path(@user) %><br /><br />
        <strong>Group members: </strong>
        <% if @user.subordinates.size == 0 %>
          <p>None</p>
        <% else %>
          <ul>      
            <% @user.subordinates.each do |f|%>
              <li><%= link_to f.name, f %> </li>
            <% end %>
          </ul>
        <% end %>
      <% else %> 
        <strong> Other members of this group: </strong>
        <ul>      
          <% @user.chief.subordinates.each do |f|%>
            <li><%= link_to f.name, f %> </li>
          <% end %>
        </ul>
      <% end %>
    </td>
  </tr>
</table>
