<table class="profile" summary="user#show">
  <tr>    
    <td class="main">      
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= " (for #{current_user.name})" unless current_user?(@user)  %>
      </h1>
      <%= render :partial => "projects/create_button" %>

      <% unless @assignments.empty? %>
        <table class="assignments" summary="User assignments">
          <%= render @assignments %>
        </table>
        <%= will_paginate @assignments %>
      <% end %>    
    </td>

    <td class="sidebar round">
      <%= render :partial => "shared/sidebar_info" %>
    </td>
  </tr>
</table>
