<div class="user_info" summary="current_user_info for sidebar">

  <h1>Current user</h1>
  <p>
    <%= gravatar_for current_user, :size => 30 %>
    <%= link_to current_user.name, current_user  %>  
  </p>
  <p>Subordinated to
    <strong>
      <%=  link_to current_user.chief.name,  current_user.chief %>
    </strong>
  </p>
  <h1>Active Projects</h1>
  <p>
    <%=  "Assigned: #{current_user.assignments.count} (initiated: #{current_user.projects.count})"%>
  </p>
  <%= render :partial => 'shared/group_info', 
    :locals => {:user => current_user} %>
</div>

