<div class="user_info">
  <a href="<%= user_path(current_user) %>">
    <%= gravatar_for current_user, :size => 30 %>
    <span class="user_name">
      <%= current_user.name %>
    </span>
    <span class="projects">
      <%= pluralize(current_user.projects.count, "project") %>
    </span> <br />
    <%= current_user.email %> <br />
    <%= "(Admin) " if current_user.admin %>
    <%= '(Manager)' if current_user.manager %> <br />
  </a>
</div>

