<%#
# Partial projects/project
# Called by: users#show
%>

<%  if project_counter && project_counter.zero? %>
  <tr class="Project_header">
    <th>Start date</th>
    <th>Project Title</th>
    <th>Created by</th> 
    <th></th>
    <th></th>
  </tr> 
<%  end %>
  
<tr class="project">
  <td><%= project.created_at.to_s[0..9] %></td>
  <td><%= link_to project.title, project_path(project) %></td>
  <td><%=  project.user.name %></td>
  <td>
    <% if  current_user?(@user.chief) %>
      <%= render :partial => 'relationships/destroy', :locals =>
        {:relationship => @user.relationships.find_by_project_id(project)} %>
    <% end %>
  </td>  
  <td>
    <% if current_user?(@user) && current_user?(project.user) %>
      <%= render :partial => 'projects/delete_project_button', :locals =>
        { :project => project} %>
    <% end %>
  </td>
</tr>
