<%= form_for @project do |f| %>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="hidden_relationship">
    <%= f.fields_for :relationships do |relationship_form|  %>
      <%= relationship_form.hidden_field :user_id, :value => current_user.id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

