<%#
# Partial "appointments/appointment" 
# Called from viewer pages#home to renders active appointment form(s)
# 
%>
<tr class='app_<%= "#{appointment.id}"%>'>
  <td>
    <strong> 
      Project: <%= link_to appointment.with_project.title, appointment.with_project %>
    </strong>
  </td>
  <td id='app_<%= "#{appointment.id}"%>_status'>
    <%= render :partial => 'appointments/status', :locals => {:appointment => appointment} %>
  </td>
</tr>
<tr class='app_<%= "#{appointment.id}"%>'>
  <td id='app_<%= "#{appointment.id}"%>_summary' colspan="2">
    <%= render :partial => 'appointments/summary', :locals => {:appointment => appointment} %>
    <div id='app_<%= "#{appointment.id}"%>_action'>
      <%= render :partial => 'appointments/action', :locals => {:appointment => appointment} %>
    </div>
  </td>
</tr>