<header>
  <%= link_to logo, root_path %>

  <nav id="list1" class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Projects", current_user %></li>
        <% unless current_user.subordinates.empty? %>
          <li><%= link_to "Group", group_user_path(current_user) %></li>
        <% end %>
        <li><%= link_to "Catalogue", users_path %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% end %>
    </ul>
  </nav>

  <nav id="list2" class="round">  
    <ul>
      <li>
        <% if signed_in? %>
          <strong><%= current_user.name %></strong>
        <% else %>
          <%= link_to "Sign in", signin_path %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>