<header>
  <%= link_to logo, root_path %>

  <nav id="list1" class="round">
    <% top_nav = [{:id => "top-current"},{:class => "top-nav"}] %>
    <ul>
      <li> 
        <%= link_to "Home", root_path, top_nav[(@page_id == "Home" ? 0 : 1)] %>
      </li>
      <% if signed_in? %>
        <% unless current_user.admin? %>
          <li>
            <%= link_to "Projects", current_user, top_nav[(@page_id == "Projects" ? 0 : 1)] %>
          </li>
        <% end %>
        <% unless current_user.subordinates.empty? %>
          <li>
            <%= link_to "Group", group_user_path(current_user), top_nav[(@page_id == "Group" ? 0 : 1)] %>
          </li>
        <% end %>
        <li>
          <%= link_to "Catalogue", users_path, top_nav[(@page_id == "Catalogue" ? 0 : 1)]  %>
        </li>
      <% end %>
      <li>
        <%= link_to "Help", help_path, top_nav[(@page_id == "Help" ? 0 : 1)] %>
      </li>
    </ul>
  </nav>

  <nav id="list2" class="round">  
    <ul>
      <li>
        <% if signed_in? %>
          <span id="username">
            <%= link_to "#{current_user.name} ▼", "#" %>
          </span>
          <div id="signout">
            <br/>
            <%= link_to "Settings", edit_user_path(current_user) %><br/><br/>
            <%= link_to "Sign out", signout_path, 
              :method => :delete, :type => "hidden" %>
          </div>
        <% else %>
          <%= link_to "Sign in", signin_path %>
        <% end %>
      </li>
    </ul>
  </nav>
  
  <nav id="list3">
      <div id="timer">Show timer here</div>
  </nav>
</header>